<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center my-3">LIST OF ALL THE EMPLOYEE</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>employee_id</th>
                                    <th>employee_name</th>
                                    <th>email</th>
                                    <th>phone_number</th>
                                    <th>job_title</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in emp %}
                                <tr>
                                    <td>{{forloop_counter}}</td>
                                    <td>{{e.employee_id}}</td>
                                    <td>{{e.employee_name}}</td>
                                    <td>{{e.email}}</td>
                                    <td>{{e.phone_number}} </td>
                                    <td>{{e.job_title}}</td>
                                    <td><a href="/delete/{{e.employee_id}}" class="btn btn-danger md-sm">Delete</a>
                                        <a href="/update/{{e.employee_id}}" class="btn btn-success md-sm">Update</a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</body>
</html>